body {
    padding: 0px 50px;
}

.barra {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: aqua;
    margin-bottom: 1000px;
}

p {
    /* background-color: #22222250; */

    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.alto {
    height: 700px;
}

td {
    width: 32px;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    height: 32px;
}

.selected {}



h6 {
    margin: 0px;
}

.seat {
    height: 20px;
    width: 20px;
}

.seats {
    background-color: blueviolet;
}

.probar {}

@media (min-width: 992px) {
    .probar {
        height: 650px;
    }
}

.tarjeta {
    height: 800px;
}

@media (min-width: 992px) {
    .tarjeta {
        height: 500px;
    }
}

.footer {
    background-color: #162931;
    color: #162931;
}


/* input numbers without arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.title-card{
    background-color: rgba(0, 0, 0, 0.315);
}

.selected {
    background-color: gray;
}

.icon-check{
    color: green;
}

.loader{
    background-color: rgba(137, 137, 137, 0.536);
}